body {
  background-color: darkslategray;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: white;
}

.btn {
  margin: 50px auto;
  display: flex;
}

.grid-cell {
  border: 1px solid black;
  box-sizing: border-box;
  flex: 1 25px;
}
